{% extends 'base.html.twig' %}

{% block title %}KeyPair index{% endblock %}

{% block body %}
    <h1>KeyPair index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Fingerprint</th>
                <th>PublicKey</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for key_pair in key_pairs %}
            <tr>
                <td>{{ key_pair.id }}</td>
                <td>{{ key_pair.name }}</td>
                <td>{{ key_pair.fingerprint }}</td>
                <td>{{ key_pair.publicKey }}</td>
                <td>
                    <a href="{{ path('key_pair_show', {'id': key_pair.id}) }}">show</a>
                    <a href="{{ path('key_pair_edit', {'id': key_pair.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('key_pair_new') }}">Create new</a>
{% endblock %}
